<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>Google Maps Multiple Markers</title>
  <script src="http://maps.google.com/maps/api/js?key={{ api_key }}"
          type="text/javascript"></script>
</head>
<body>
  <h3>Mapa: {{ mapa.name }} - Bairro: {{ mapa.neighborhood.name }}</h3>
  <a href="/">Voltar</a>
  <form method="POST">
    {{ form }}
    <input type="submit" value="Filtrar">
  </form>
  <br><br>

  <div id="map" style="width: 800; height: 600px;"></div>

  <script type="text/javascript">
    var locations = {{ points|safe }}
    var symbols = {{ symbols|safe }}

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 13,
      center: new google.maps.LatLng({{ map.1 }}, {{ map.0 }}),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    icons = new Array();

    for (i = 0; i < symbols.length; i++){
        icons[symbols[i][0]] = {
          url: symbols[i][1], // url
          scaledSize: new google.maps.Size(25, 25), // scaled size
        };
    }


    for (i = 0; i < locations.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        icon: icons[locations[i][0]],
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
  </script>

</body>
</html>
